<div class="row">
        <div class="col font-weight-bold">Имя</div>
        <div class="col font-weight-bold">Фамилия</div>
        <div class="col font-weight-bold">Отчество</div>
        <div class="col font-weight-bold">Пол</div>
        <div class="col font-weight-bold">Номер</div>
        <div class="col font-weight-bold">Логин</div>
        <div class="col font-weight-bold">Пароль</div>
        <div class="col"></div>
</div>
<form asp-action="AddClient" asp-controller="Registration" method="post">
        <div class="row">
            <div class="col">
                <input name="client_name" class="form-control" required />
            </div>
            <div class="col">
                <input name="client_surname" class="form-control" required />
            </div>
            <div class="col">
                <input name="client_patronymic" class="form-control" required />
            </div>
            <div class="col">
                <input name="client_gender" class="form-control" required />
            </div>
            <div class="col">
                <input name="client_phone_number" class="form-control" required />
            </div>      
            <div class="col">
                <input name="client_login" class="form-control" required />
            </div>
            <div class="col">
                <input name="client_password" class="form-control" required />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
