@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-4">
            <h2>Главная</h2>
        </div>
        <div class="col-12 text-center">
            <div class="btn-group-vertical">
                <a href="@Url.Action("MasterTable", "Master")" class="btn btn-primary btn-lg mb-2">Мастера</a>
                <a href="@Url.Action("ProceduresTable", "Master")" class="btn btn-primary btn-lg mb-2">Процедуры</a>
                <a href="@Url.Action("RecordTable", "Master")" class="btn btn-primary btn-lg mb-2">Записи</a>
            </div>
        </div>
    </div>
</div>